@page "/"
@page "/excel-upload"
@inject IJSRuntime JS
@inject ILogger<Home> _logger

<h3 class="mb-3">Upload Excel File</h3>

<div class="row my-3">
    <div class="col-md-6 col-12">
        <InputFile OnChange="HandleFileSelected"
                   accept=".xlsx"
                   class="form-control"
                   id="file" />
    </div>
    <div class="col-md-6 col-12">
        <button type="button" class="btn btn-sm btn-outline-primary me-2"
                @onclick="async () => await GenerateExcelAsync()">
            <span class="bi bi-download me-1 fs-4"></span>
            download excel sample
        </button>
    </div>
</div>



@if (ExcelData.Any())
{
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ExcelData)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.MiddleName</td>
                        <td>@item.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    private List<ReaderDto> ExcelData = new();
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file is null)
            return;

        var extension = Path.GetExtension(file.Name).ToLower();
        if (extension != ".xlsx")
        {
            return;
        }

        const long maxFileSize = 5 * 1024 * 1024;

        using var readStream = file.OpenReadStream(maxFileSize);
        using var ms = new MemoryStream();
        await readStream.CopyToAsync(ms);

        ms.Position = 0; // important for ClosedXML to read

        try
        {
            ExcelData = ReaderHelper.ImportFromExcel<ReaderDto>(ms);
        }
        catch (Exception ex)
        {

        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task GenerateExcelAsync()
    {
        var list = new List<ReaderDto>
        {
            new ReaderDto { Id = 1, FirstName = "Samuel", MiddleName = "David", LastName = "Mwamakula"},
        };

        var bytes = ReaderHelper.ExportToExcel(list);

        var base64 = Convert.ToBase64String(bytes);

        await JS.InvokeVoidAsync("downloadFile", "ExcelDtos.xlsx", base64);
    }

}